<router-outlet></router-outlet>
<app-home></app-home>
<table>
<th>
    <mat-card class="example-card" >
        <mat-card-header>
        <mat-card-title>Anagrama</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/imagenes/anagrama.jpg" alt="Anagrama">
        <mat-card-content>
        <p>
            Reordená las letras para encontrar la palabra escondida.
        </p>
        </mat-card-content>
        <mat-card-actions>
        <button mat-button routerLink='anagrama' routerLinkActive="active">Jugar</button>
        </mat-card-actions>
    </mat-card>
</th>

<th>
    <mat-card class="example-card">
        <mat-card-header>
        <mat-card-title>Piedra, papel o tijera</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="img-thumbnail" src="../../../assets/imagenes/piedraPapelTijera.jpg" alt="Piedra papel tijera">
        <mat-card-content>
        <p>
            El popular y conocido juego de piedra, papel o tijera.
        </p>
        </mat-card-content>
        <mat-card-actions>
        <button mat-button routerLink='piedraPapelTijera' routerLinkActive="active">Jugar</button>
        </mat-card-actions>
    </mat-card>
</th>

<th>
    <mat-card class="example-card">
        <mat-card-header>
        <mat-card-title>Agilidad aritmética</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/imagenes/agilidadAritmetica.jpg" alt="Agilidad aritmética">
        <mat-card-content>
        <p>
            Respondé la cuenta aritmética en cierto tiempo establecido.
        </p>
        </mat-card-content>
        <mat-card-actions>
        <button mat-button routerLink='agilidadAritmetica' routerLinkActive="active">Jugar</button>
        </mat-card-actions>
    </mat-card>
</th>

<tr>
    <th>
    <mat-card class="example-card">
        <mat-card-header>
        <mat-card-title>Adivina el Número</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/imagenes/adivinaElNumero.png" alt="Adivina el Número">
        <mat-card-content>
        <p>
            Adiviná el número secreto.
        </p>
        </mat-card-content>
        <mat-card-actions>
        <button mat-button routerLink='adivinaElNumero' routerLinkActive="active">Jugar</button>
        </mat-card-actions>
    </mat-card>
    </th>
    
    <th>
    <mat-card class="example-card">
        <mat-card-header>
        <mat-card-title>Ta Te Ti</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/imagenes/taTeTi.png" alt="Ta Te Ti">
        <mat-card-content>
        <p>
            Lográ acertar 3 en linea.
        </p>
        </mat-card-content>
        <mat-card-actions>
        <button mat-button routerLink='taTeTi' routerLinkActive="active">Jugar</button>
        </mat-card-actions>
    </mat-card>
    </th>

    <th>
    <mat-card class="example-card">
        <mat-card-header>
        <mat-card-title>Memotest</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/imagenes/memotest.png" alt="Memotest">
        <mat-card-content>
        <p>
            Recordá las figuras.
        </p>
        </mat-card-content>
        <mat-card-actions>
        <button mat-button routerLink='memotest' routerLinkActive="active">Jugar</button>
        </mat-card-actions>
    </mat-card>
    </th>
</tr>
    <th>
    <mat-card class="example-card">
        <mat-card-header>
        <mat-card-title>???</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://i.pinimg.com/736x/c9/e4/ab/c9e4abad3d15a4bf9486f2484ed13c45.jpg" alt="????">
        <mat-card-content>
        <p>
            ????????????????????????????????????????
        </p>
        </mat-card-content>
        <mat-card-actions>
        <button mat-button routerLink='asdsad' routerLinkActive="active">Jugar</button>
        </mat-card-actions>
    </mat-card>
    </th>
    
</table>

    