<div align="center">
  <mat-card style="max-width: 400px;width: 60%;">
      <mat-card-header>
        <mat-card-title style="text-align: center;">Aubele Lautaro</mat-card-title>
        <mat-card-subtitle style="text-align: center; margin-left: 30%;">4º A</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image style="height: 50%; width: 50%;" src="../../../assets/imagenes/alumno.jpg" alt="Foto de Aubele Lautaro">
      <mat-card-content>
        <p>
          Creador de la aplicación Sala de Juegos, mi juegro propio se trata de encontrar las vocáles escondidas de determinadas palabras relacionadas a clubes de fútbol.
        </p>
      </mat-card-content>
  </mat-card>
</div>
