<div align="center">
    <mat-card style="max-width: 250px;width: 60%;">
        <mat-card-header style="text-align: center;">
            <h2 style="text-align: center; margin-left: 14%;">Registrarse</h2>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="form" class="example-form">
                <mat-form-field appearance="outline" class="example-form-field">
                    <mat-label>Correo</mat-label>
                    <input type="email" matInput name="correo"  placeholder="Ingrese correo" formControlName ="correo" [(ngModel)]="correo">
                    <mat-error *ngIf="!form.controls.correo.valid">Ingrese un correo valido.</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="example-form-field">
                    <mat-label>Contraseña</mat-label>
                    <input formControlName="clave" matInput name="clave" type="password" placeholder="Ingrese contraseña" [(ngModel)]="clave">
                    <mat-error *ngIf="!form.controls.clave.valid">La contraseña debe tener 6 caracteres o más.</mat-error>
                </mat-form-field>
            </form>
            <br>
            <button mat-raised-button color="primary" [disabled]="!form.valid" style="width: 160px;" (click)="registrarse()">Registrarse</button>
            <br>
            <br>
        </mat-card-content>
    </mat-card>
</div>