<p>
    <mat-toolbar color="primary">
      <button *ngIf="botones.opciones" mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink='juegos' routerLinkActive="active">Jugar</a>
        <a mat-menu-item routerLink='listadoJugadores' routerLinkActive="active">Listado de Jugadores</a>
      </mat-menu>

      <a *ngIf="botones.atras" mat-icon-button aria-label="Example icon button with a home icon" (click)="atras()">
        <mat-icon>reply</mat-icon>
      </a>

      <span>Sala de juegos</span>
      <span class="example-spacer"></span>

      <a *ngIf="botones.opciones" mat-button routerLink='acercaDe' routerLinkActive="active">
        Acerca de
        <mat-icon>perm_identity</mat-icon>
      </a>
      
      <a *ngIf="botones.opciones" mat-icon-button aria-label="Example icon button with a home icon" (click)="LogOut()">
        <mat-icon>exit_to_app</mat-icon>
      </a>
    </mat-toolbar>
</p>
<h2 style="text-align: center;">Bienvenido/a a la sala de juegos de Aubele Lautaro</h2>